<tr>
  <td><%= badge.name %></td>
  <td><%= badge.description %></td>
  <td><%= badge.rule_template.text %></td>
  <td><%= link_to 'Show', admin_badge_path(badge) %></td>
  <td><%= link_to 'Edit', edit_admin_badge_path(badge) %></td>
  <td><%= link_to 'Delete', admin_badge_path(badge), method: :delete, data: { confirm: 'Delete?' } %></td>
</tr>
