<%= render 'shared/errors', resource: @test_passage %>

<h3 class="mb-2"><%= t('.in_progress_header', title: @test_passage.test.title) %></h3>

<div class="progress mb-5" role="progressbar" aria-valuemin="0" aria-valuemax="100">
  <%= content_tag :div, nil, class: 'progress-bar overflow-visible bg-primary',
                  data: { progress_percent: current_progress_percents } do %>
    <%= t('.questions_progress', current: current_question_number, total: total_questions_count) %>
  <% end %>
</div>

<div class="mb-3">
  <p class="fs-3"><%= @test_passage.current_question.body %></p>
</div>

<% if @test_passage.test.time_limit %>
  <%= content_tag :div, nil, id: 'timer-container',
                  data: { limit: @test_passage.test.time_limit },
                  class: 'fw-semibold' %>
<% end %>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body do |a| %>
    <div class="form-check m-3">
      <%= a.check_box id: "answer_id_#{a.object.id}", class: 'form-check-input' %>
      <%= a.label(class: 'form-check-label') %>
    </div>
  <% end %>

  <div class="mt-5">
    <%= button_tag class: 'btn btn-primary btn-lg' do %>
      <%= content_tag :i, nil, class: 'bi bi-arrow-return-right' %>
      <%= t('.next') %>
    <% end %>

    <%= link_to gists_path(test_passage_id: @test_passage.id), method: :post, class: 'btn btn-lg' do %>
      <%= content_tag :i, nil, class: 'bi bi-github' %>
      <%= t('.gist_question') %>
    <% end %>
  </div>
<% end %>
