<h3><%= t('.in_progress_header', title: @test_passage.test.title) %></h3>

<b><%= @test_passage.current_question.body %></b>

<%= render 'shared/errors', resource: @test_passage %>

<p class="progress">
  <%= t('.questions_progress', current: current_question_number, total: total_questions_count) %>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body do |a| %>
    <div class="form-check m-3">
      <%= a.check_box id: "answer_id_#{a.object.id}", class: 'form-check-input' %>
      <%= a.label(class: 'form-check-label') %>
    </div>
  <% end %>

  <%= button_tag class: 'btn btn-primary btn-lg' do %>
    <%= content_tag :i, nil, class: 'bi bi-arrow-return-right' %>
    <%= t('.next') %>
  <% end %>
<% end %>
