<nav>
  <h3><a class="logo-link" href="<%= root_path %>">Test GURU</a></h3>
  <div>
    <% if logged_in? %>
      <span>Добро пожаловать, гуру <%= current_user.username %></span>
      <%= link_to 'Выход', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'Вход', login_path %>
      <%= link_to 'Регистрация', signup_path %>
    <% end %>
  </div>
</nav>
