<nav class="navbar navbar-light bg-light">
  <h3><%= link_to 'Test GURU', root_path, class: 'navbar-brand' %></h3>
  <div>
    <% if user_signed_in? %>
      <span class="navbar-text">
        <%= t('general.welcome', first_name: current_user.first_name)%> |
        <%= link_to t('general.logout'), destroy_user_session_path, method: :delete %>
      </span>
    <% else %>
      <%= link_to t('general.login'), new_user_session_path %>
      <%= link_to t('general.signup'), new_user_registration_path %>
    <% end %>
  </div>
</nav>
