<tr>
  <td><%= answer.body %></td>
  <td>
    <div class="d-flex justify-content-end">
    <%= link_to admin_answer_path(answer), class: 'btn' do %>
      <%= content_tag :i, nil, class: 'bi bi-eye' %>
    <% end %>
      <%= link_to edit_admin_answer_path(answer), class: 'btn' do %>
        <%= content_tag :i, nil, class: 'bi bi-pencil' %>
      <% end %>
      <%= link_to admin_answer_path(answer), method: :delete, class: 'btn', data: { confirm: t('.confirm_delete') } do %>
        <%= content_tag :i, nil, class: 'bi bi-trash' %>
      <% end %>
    </div>
  </td>
</tr>
