<h3><%= t('.question_header') %></h3>

<p><%= @answer.question.body %></p>

<p>
  <b><%= t('.answer')%>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.correct') %>:</b>
  <%= @answer.correct %>
</p>

<%= link_to admin_question_path(@answer.question), class: 'btn btn-lg' do %>
  <%= content_tag :i, nil, class: 'bi bi-arrow-return-left' %>
  <%= t('general.back') %>
<% end %>
