<h3><%= @question.body %></h3>

<h4><%= t('.answers_header')%></h4>

<%= link_to t('.add_answer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('admin.actions.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('general.back'), admin_test_path(@question.test) %>
