<div class="col-md-5 p-3">
  <%= form_with model: [:admin, @test], local: true do |form| %>
    <%= render 'shared/errors', resource: @test %>
    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, id: :test_title, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :level, class: 'form-label' %>
      <%= form.number_field :level, id: :test_level, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :category_id, class: 'form-label' %>
      <%= form.collection_select :category_id, Category.all, :id, :title, {prompt: true}, {class: 'form-select'} %>
    </div>
    <%= form.submit nil, class: 'btn btn-primary btn-lg' %>
    <span>
      <%= link_to admin_tests_path, class: 'btn btn-lg' do %>
        <%= content_tag :i, nil, class: 'bi bi-arrow-return-left' %>
        <%= t('general.back') %>
      <% end %>
    </span>
  <% end %>
</div>
