<h3><%= t('tests.index.test_list_header') %></h3>

<%= render 'shared/errors', resource: @test %>
<table class="table table-hover p-3">
  <tr>
    <th><%= t('tests.index.title') %></th>
    <th><%= t('tests.index.question_count') %></th>
    <th><%= t('.time_limit') %></th>
    <th colspan="3" class="text-center"><%= t('.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
<div>
  <%= link_to  new_admin_test_path, class: 'btn btn-lg' do %>
    <%= content_tag :i, nil, class: 'bi bi-plus-circle' %>
    <%= t('.create') %>
  <% end %>
</div>
